.venv
.vscode
.pyc
__pycache__
.DS_Store
deploy.sh
db.sqlite3
plan.tmp
node_modules/

# Ignored terraform files since this is a template
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
