asgiref==3.6.0 ; python_version >= "3.10" and python_version < "4.0"
crispy-bootstrap5==0.7 ; python_version >= "3.10" and python_version < "4.0"
django-crispy-forms==2.0 ; python_version >= "3.10" and python_version < "4.0"
django==4.2 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
setuptools==67.6.1 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
